<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cupcakes</title>
  <script src= 'https://unpkg.com/jquery'></script>

</head>

<body>

  <ul>


  </ul>

  <form action="" method="POST">

    <div>
      <label for="flavor">Flavor</label>
      <input type="text" id="flavor" name="flavor" required>
    </div>
    <div>
      <label for="size">Size</label>
      <input type="text" id="size" name="size" required>
    </div>
    <div>
      <label for="rating">Rating</label>
      <input type="Number" id="rating" name="rating" required>
    </div>
    <div>
      <label for="image">Image URL</label>
      <input type="text" id="image" name="image">
    </div>
    <div>
      <input type="submit" value="Add Cupcake">
    </div>


  </form>


  <script src="https://unpkg.com/axios/dist/axios.js"></script>
  <script src= '/static/app.js'></script>
</body>

</html>